
<div class="album text-muted">
  <div class="container">
    <div class="row">
      <div class="sold mx-auto col-12 col-md-6 col-lg-4" >
        <p *ngIf="user" class="sold-text mx-auto">My sold: {{ user.sold }}</p>
      </div>
      <div class="row">
        <div class="card col-12 col-md-6 col-lg-4" *ngFor="let addProduit of addProduits">
          <a [routerLink]="['/see', addProduit._id]">
          <img src="{{ addProduit.img }}" alt="404">
          </a>
          <p class="card-text col-12 col-md-6 col-lg-4-text">
            <button type="button" class="btn btn-1" (click)="buy(addProduit)"> {{ addProduit.price }} WTF</button>
            <button type="button" class="btn btn-see" [routerLink]="['/see', addProduit._id]">See {{ addProduit.name }}?</button>
          </p>
        </div>
      </div>
  
    </div>
  </div>