.album {
    min-height: 50rem;
    /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
}

.card {
    float: left;
    width: 100%;
    min-height: 224px;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.card>img {
    margin-bottom: .75rem;
    max-height: 167px;
}
img {
    width: 366px;
    height: 167px;
}
img:hover {
    transform: scale(1.03);
}
.card-text {
    font-size: 85%;
    margin-top: 5px;
}